@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700');
* {
  box-sizing: border-box;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  color:#666666;
  background-color:#fefefe;
}

fieldset{
  margin:0px;
  padding:0px;
  border:0px;
}

legend{
  display:none;
}

a, a:hover, a:visited, a:active{
  color:#666;
}

button, input[type="text"] {
  padding: 5px;
  background-color:transparent;
}

button:hover {
  cursor: pointer;
}

.hidden {
  display: none;
}
.filterRatingContainer{

  margin-top:20px;
 height:30px;

}
#bookmarks-list-item {
  width: 250px;
}

.container {
  max-width: 340px;
  margin: 0 auto;
  padding-top:50px;
}

.max-width-800{
  max-width:800px;
}

.bookmarks-list {
  list-style: none;
  padding-left: 0;
}

.our-bookmark-list{
  margin:auto;
}

#testingMenu{
  text-align:right;
  position:absolute;
  width:100%;
  top:0px;
  padding-right:10px;
  font-size:12px;
  opacity:0.5;
  z-index:99999;
}

#dataMessages{
  float:right;
  font-size:12px;
  transform:translateY(10px);
}

.logo{

  width:150px;
}

.error-box{
  color:red;
  text-align:center;
}

.bookmarks-list > li {
  margin-bottom: 20px;
  border-bottom: 1px solid grey;
  padding: 20px;
}

.bookmarks-item {
  display: block;
  font-size: 30px;
  margin-bottom: 15px;
}

.bookmarks-item__checked {
  text-decoration: line-through;
}

.bookmarks-item-controls{

  display:inline-block;

  position:absolute;
  right:20px;
  transform:translateY(-45px);
  }
  

form{
  margin:10px 0px;
}

.hide-item{
  display:none;

}

.edit {
  float: left;
  width: 20px;
  height: 20px;
  display: block;
  background-size:20px;
  cursor: pointer;
  margin-right: 20px;
}

.bookmark-title{
  font-size:21px;
  font-weight:normal;
  display:inline-block;
}


/*buttons*/
.addBookmark{
  background-image:url(../assets/add.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border:none;
  height:40px;
  width:40px;
  margin:10px;

}

.trashcan{
  background-image:url(../assets/trashcan.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border:none;
  height:45px;
  width:45px;
  opacity:0.3;


}


.increaseOpacity:hover{
 opacity:0.9;
 transition: opacity .25s ease-in-out;
 -moz-transition: opacity .25s ease-in-out;
 -webkit-transition: opacity .25s ease-in-out;
}

.cancelAddBookmark{
  background-image:url(../assets/cancel.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border:none;
  height:40px;
  width:40px;
  margin:10px;

}

.js-bookmark-link{
  background-image:url(../assets/openlink.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border:none;
  height:40px;
  width:40px;
  float:right;

}

.submitInfo{
  text-align:center;
}

.js-item-index-element{
  position:relative;
 
}
.edit-bookmark-input{
  margin-top:8px;
	font-size:30px;
	color:#545454;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-border-radius: 2px;
	display:none;
	width:280px;
}

h1{

font-weight:400;
}

.logo-area{
  width:100%;
  text-align:center;
}

/*main form fields*/

.js-bookmarks-description-entry{
resize:vertical;
height:160px;
}

input[type=text],input[type=url], select, textarea {
    width: 100%;
    padding: 12px;
    border: 2px solid #666;
    border-radius: 4px;
    resize: vertical;
}

label{
  line-height:200%;
}

#getStarted{
  font-size:21px;
  text-align:center;
  font-weight:400;
  
}


/*toggle hide*/
.wrap-collabsible {
  margin-bottom: 1.2rem 0;
}

input[type='checkbox'] {
  display: none;
}

.lbl-toggle {
  /*display: block;*/

  /*font-weight: bold;*/
  font-size: 0.9rem;
  /*text-transform: uppercase;*/
  text-align: center;

  padding: 1rem;

  color: #666;
  /*background: #eee;*/

  cursor: pointer;

  border-radius: 4px;
  transition: all 0.25s ease-out;
}

.lbl-toggle:hover {
  color: rgb(146, 146, 146);
}

.lbl-toggle::before {
  content: ' ';
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;
  vertical-align: middle;
  margin-right: .7rem;
  transform: translateY(-2px);

  transition: transform .2s ease-out;
}

.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}

.collapsible-content {
  max-height: 0px;
  overflow: hidden;
  transition: max-height .25s ease-in-out;
  
}



.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 350px;
}


@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
 
.fadein {
 opacity:0;  /* make things invisible upon start */
 -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
 -moz-animation:fadeIn ease-in 1;
 animation:fadeIn ease-in 1;
 
 -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
 -moz-animation-fill-mode:forwards;
 animation-fill-mode:forwards;
 
 -webkit-animation-duration:0.5s;
 -moz-animation-duration:0.5s;
 animation-duration:0.5s;
}

.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
 
}

.tinyURL{
  font-size:12px;
  line-height:30px;
  font-weight:700;
}


.disable{

}

.disable:hover{

}
.floatRight{

  float:right;
}
.hidden{
  visibility: hidden;
}

/*bookmark controls*/
.bookmarks-bookmark-controls{
  text-align:right;
}

/* STARZ */

.star-rating3{
  border-bottom:1px dotted grey;
}


.rating {
  overflow: hidden;
  display: inline-block;
  transform:translateY(2px);
  opacity:0.5;

}

.rating-input {
  float: right;
  width: 16px;
  height: 16px;
  padding: 0;
  margin: 0 0 0 -16px;
  opacity: 0
}


.rating-star {
  cursor: pointer;
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  background: url(../assets/starsheet.png) 0 -16px;
  background-size:100%;
}
/*
.rating-star:not(.disable):hover {
  background-position: 0 0
}
*/
.rating-star {
  position: relative;
  float: right;
  display: block;
  width: 16px;
  height: 16px;
  background: url(../assets/starsheet.png) 0 -16px;
  background-size:100%;
}
/* disabled temporarily until edit features are put in
.rating-star:not(.disable):hover,
.rating-star:not(.disable):hover~.rating-star {
  background-position: 0 0
}
*/
.rating-input:checked~.rating-star {
  background-position: 0 0
}

.rating-input:checked~.rating-star
 {
  background-position: 0 0
}

/*
.rating-star,
.rating:not(.disable):hover .rating-star {
  position: relative;
  float: right;
  display: block;
  width: 16px;
  height: 16px;
  background: url(../assets/starsheet.png) 0 -16px;
  background-size:100%;
}
*/

/*RESPONSIVE */

@media only screen and (max-width: 400px) {
  .star-rating3{
    text-align:center !important;
  }


  .lbl-toggle{
    display:block !important;
    padding:0px !important;
    text-align:left !important;

  }

  #dataMessages{
    display:none;
  }
}

